{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'happiness_app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'happiness_app/css/teampage_about.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="py-5" id="our-team-section">
  <div class="container">
    <h1>Our team</h1>
    <div class="d-flex flex-wrap gap-3">

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U050ACTDD41-cbad96001cef-512" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Stephen Dawson</h5>
          <p class="card-text" style="margin-bottom: 30px;">Meet Stephen, savoring the flavors of Pad Thai and relishing
            his recent three-week
            adventure in Thailand last December. In the world of programming, his heart beats for JavaScript, crafting
            digital wonders with finesse. Yet, his true joy blossoms when surrounded by friends, reveling in their
            company and shared activities.</p>
            <div class="position-absolute bottom-0 team-links-container p-3">
          <a href="https://github.com/stephendawsondev" target="_blank" class="btn btn-primary">
            <i class="fa-brands fa-github"></i>
            GitHub</a>
          <a href="https://www.linkedin.com/in/sdstephendawson/" target="_blank" class="btn btn-primary"><i
              class="fa-brands fa-linkedin"></i> Linkedin</a>
            </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://avatars.githubusercontent.com/u/115192139?v=4" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Hilla Muraja</h5>
          <p class="card-text" style="margin-bottom: 30px;">Hilla, an enthusiast in both culinary delights and programming, has a particular fondness for pasta and finds joy in crafting intricate code with JavaScript. Their recent holiday escapade took them to the charming landscapes of Italy, where they indulged in the country's rich culture and delectable cuisine. Hilla's happiness thrives in the realm of skill-building, constantly seeking opportunities to enhance their programming prowess and culinary expertise alike.</p>

          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/HMuraja" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-github"></i> GitHub</a>
            <a href="http://www.linkedin.com/in/hilla-muraja" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-linkedin"></i> Linkedin</a>
          </div>

        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U04LMHHNQAD-1cb37693c1ce-512" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Felipe Zanetti</h5>
          <p class="card-text" style="margin-bottom: 30px;">Felipe is an astronomy enthusiast and a talented guitarist who loves to travel and explore new cultures. During his recent holiday in Spain, he visited Madrid, Segovia, and Toledo, immersing himself in local traditions and cuisine. His favorite food is Risotto, which he enjoys savoring whenever he can.</p>

          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/zanettiprado" target="_blank" class="btn btn-primary"><i class="fa-brands fa-github"></i> GitHub</a>
            <a href="https://www.linkedin.com/in/felipe-zanetti" target="_blank" class="btn btn-primary"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U06MMEN9XFT-b4cbd9d9bdbb-512" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Soundarya Kantimahanti</h5>
          <p class="card-text" style="margin-bottom: 30px;">Soundarya, who delights in Indian-style Chicken Dum Biryani,
            a dish steeped in her
            heritage. Returning to India recently, she cherished moments with loved ones. In programming,
            Soundarya
            thrives in JavaScript, crafting digital marvels. Yet, her true joy lies in family time, bonding over
            art,
            games, and cooking, filling her life with warmth and love.</p>

          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/klsoundarya" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-github"></i>
              GitHub</a>
            <a href="https://www.linkedin.com/in/soundarya-kantimahanti/" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-linkedin"></i> Linkedin</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U02V9H1BSE6-a4ef763f5389-512" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Claudio Cruz</h5>
          <p class="card-text" style="margin-bottom: 30px;">Meet Claudio, a lover of Portuguese bacalhau and avid
            traveler who recently
            explored
            Croatia. He finds joy in coding with JavaScript, especially in React. But above all, his happiness
            comes
            from seeing his loved ones smile.</p>

          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/claudio-cruz" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-github"></i>
              GitHub</a>
            <a href="https://www.linkedin.com/in/claudio-emanuel-cruz/" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-linkedin"></i>
              Linkedin</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U05RK9VUZU6-78065cb8e885-512" class="card-img-top"
          alt="Profile image of a team member">
        <div class="card-body">
          <h5 class="card-title">Ann Edvinsson</h5>
          <div class="container p-1">
            <p class="card-text" style="margin-bottom: 30px;">Ann, a connoisseur of Spaghetti alle Vongole, recalls her
              kayaking adventure in
              the
              St.
              Anna Archipelago and excels in Python coding. Yet, her true happiness is found in hackathons and
              cherished
              moments with friends, where her creativity shines, igniting endless possibilities and
              unforgettable
              memories.</p>
          </div>
          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/aslinedvinsson" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-github"></i>
              GitHub</a>
            <a href="https://www.linkedin.com/in/ann-edvinsson/" target="_blank" class="btn btn-primary"><i
                class="fa-brands fa-linkedin"></i> Linkedin</a>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img
          src="https://media.licdn.com/dms/image/C4D03AQFRKS9jWX_yBA/profile-displayphoto-shrink_200_200/0/1613208893046?e=1717027200&v=beta&t=TUXOYE6-qpTEQpE-N48Vp1AqEdBLJ1Y-FQwQ1dvSk9w"
          class="card-img-top" alt="Profil image of a team member">
        <div class="card-body">
          <h5 class="card-title">Florian Guldner</h5>
          <p class="card-text" style="margin-bottom: 30px;">Meet Florian, a lover of dumplings whose recent holiday in
            Austria was spent
            carving
            through snow-covered slopes on a snowboard. His favorite language is CSS, where he weaves
            digital
            magic with
            style. But what truly brings him joy is being active and engaging with his loved ones,
            cherishing
            every
            moment of interaction and shared experiences.</p>

          <div class="position-absolute bottom-0 team-links-container p-3">
            <a href="https://github.com/Fl0W97" target="_blank" class="btn btn-primary">
              <i class="fa-brands fa-github"></i>
              GitHub</a>
            <a href="https://www.linkedin.com/in/florian-guldner-4a684897/" target="_blank"
              class="btn btn-primary">
              <i class="fa-brands fa-linkedin"></i> Linkedin</a>
          </div>
        </div>
      </div>
      <div class="to_the_top">
        <a href="#container">to the top</a>
      </div>
    </div>
</section>
{% endblock %}