/* css styles for team page and about section */


.card {
    background-color: #f2e1c3;
    padding: 3px;
}


/* is not working. buttons are supposed to be blue! */
.btn-primary {
    background-color: #3bb8ff;
}


.to_the_top {
    text-align: center;
    margin: auto;
}


/* responsvie design */ 
@media screen and (min-width: 768px) {
    #acts-of-kindness-slider .carousel-inner {
      max-height: 400px;
    }

    .to_the_top {
        display: none;
    }