{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section class="container my-5">
  <div class="row">
    <!-- Profile section -->
    <div class="col-12 col-lg-6 mb-5 pl-lg-0">
      <h2 class="h2 mb-3">My Profile</h2>
      {% if profile.profile_image %}
      <img src="{{ profile.profile_image.url }}" alt="Profile image" class="profile-image mb-3">
      {% else %}
      <img src="https://res.cloudinary.com/dyoueyepq/image/upload/v1694389081/default_profile_ekdors.jpg"
        alt="Profile image placeholder" class="profile-image mb-3">
      {% endif %}
      <h2>My Completed Acts of Kindness</h2>
      <ul>
        {% for user_act_status in completed_acts %}
        <li>{{ user_act_status.act_of_kindness.name }} - {{ user_act_status.act_of_kindness.description }}
          <p>Thank you for completing an act of kindness! Would you like to
            share a post about it, to inspire others to also do the act of kindness?</p>
          <a href="{% url 'add_post' user_act_status.act_of_kindness.id %}" class="btn btn-primary">Share Your Act</a>
        </li>
        {% empty %}
        <li>You have not completed any acts of kindness yet.</li>
        {% endfor %}
      </ul>

      {% if request.user.is_authenticated and is_profile_owner %}
      <form action="{% url 'profile' request.user.userprofile.id %}" method="POST" id="profile-update-form"
        enctype="multipart/form-data">``
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label text-secondary" for="{{ form.profile_image.id_for_label }}">Update profile
            image:</label>
          <input type="file" class="form-control mt-3" name="{{ form.profile_image.html_name }}"
            id="{{ form.profile_image.auto_id }}">

          {% if form.profile_image.errors %}
          <div class="text-danger mt-2">
            {{ form.profile_image.errors }}
          </div>
          {% endif %}

          {% if form.profile_image.value %}
          <div class="d-flex my-3">
            <input type="checkbox" class="form-check-input me-2" name="{{ form.profile_image.html_name }}-clear"
              id="id_{{ form.profile_image.html_name }}-clear" style="height: 1.25rem; width: 1.25rem;">
            <label class="form-check-label text-secondary fs-6 fw-medium"
              for="id_{{ form.profile_image.html_name }}-clear">Clear
              image</label>
          </div>
          {% endif %}

        </div>
        <h3 class="h3 my-4">Personal Details</h3>
        <!-- Manually render each field in the user form -->
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ user_form.first_name|as_crispy_field }}
            {% if user_form.first_name.errors %}
            <div class="alert alert-danger mt-2">
              {{ user_form.first_name.errors|striptags }}
            </div>
            {% endif %}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ user_form.last_name|as_crispy_field }}
            {% if user_form.last_name.errors %}
            <div class="alert alert-danger mt-2">
              {{ user_form.last_name.errors|striptags }}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 mb-0">
            {{ user_form.email|as_crispy_field }}
            {% if user_form.email.errors %}
            <div class="alert alert-danger mt-2">
              {{ user_form.email.errors|striptags }}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="form-group col-md-6 mb-0">
          {{ form.country|as_crispy_field }}
          {% if form.country.errors %}
          <div class="alert alert-danger mt-2">
            {{ form.country.errors|striptags }}
          </div>
          {% endif %}
        </div>
        {% if request.user == user %}
        <div class="float-right">
          <button type="submit" class="btn btn-primary ml-1">Update
            details</button>
        </div>
        {% endif %}
      </form>
      {% if request.user == user %}
      <a href="{% url 'account_delete' %}"
        class="btn btn-danger text-white delete-link float-right profile-delete-link">Delete
        account</a>
      {% endif %}
      {% endif %}
    </div>
</section>
{% if request.user == user %}
{% comment %} Delete confirmation modal {% endcomment %}
<dialog id="delete-modal" class="bg-dark text-light">
  <div class="modal-box p-3">
    <h3 id="delete-modal-message" class="font-bold mb-3">Are you sure you want
      to proceed? This action cannot be undone.
    </h3>
    <div class="row pt-4 justify-content-lg-end">
      <div class="col-12 col-lg-3">
        <button type="button" class="btn btn-outline-light delete-cancel-button w-100">No,
          cancel.</button>
      </div>
      <div class="col-12 col-lg-3">
        <form id="delete-modal-form" action="#" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger delete-confirm-button w-100 mt-2 mt-lg-0">Yes,
            proceed.</button>
        </form>
      </div>
    </div>
  </div>
</dialog>
{% endif %}
{% endblock %}