

/* Navbar */
.navbar {
  max-height: 80px;
  background-color: #f2e1c3;
  justify-items: center;
  padding: 0;
}

.navbar-collapse {
  background-color: #f2e1c3;
}

.logo {
  max-height: 55px;
}

.user-image {
  max-height: 45px;
  border-radius: 50px;
}

.user-name {
  color: black;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
}

/* Footer */
footer {
  background-color: #f2e1c3;
  color: black;
  margin-top: auto;
}


@media (max-width: 767px) {
  .navContainer {
    margin-top: -10px;
  }
}

