{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center logo-font mb-4 text-pink mt-5">{% trans "Sign Up" %}</h2>
            <hr class="w-25 mx-auto">

            {% url 'account_signup' as action_url %}
            <form method="post" action="{{ action_url }}" class="signup-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="--bs-pink1">{% trans "Username" %}</label>
                    <input type="username" name="username" id="username" class="form-control"
                        placeholder="{% trans 'Username' %}" required>
                    <small class="text-secondary">*Choose your username carefully, as it cannot be changed later on.</small>
                </div>
                {% if form.username.errors %}
                <div class="alert alert-danger mt-1 p-1">
                    <ul class="list-unstyled m-0">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="email" class="text-pink">{% trans "Email" %}</label>
                    <input type="email" name="email" id="email" class="form-control mb-3"
                        placeholder="{% trans 'Email' %}" required>
                </div>
                {% if form.email.errors %}
                <div class="alert alert-danger mt-1 p-1">
                    <ul class="list-unstyled m-0">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="password1" class="text-pink">{% trans "Password" %}</label>
                    <input type="password" name="password1" id="password1" class="form-control mb-3"
                        placeholder="{% trans 'Password' %}" required>
                </div>
                {% if form.password1.errors %}
                <div class="alert alert-danger mt-1 p-1">
                    <ul class="list-unstyled m-0">
                        {% for error in form.password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="password2" class="text-pink">{% trans "Confirm Password" %}</label>
                    <input type="password" name="password2" id="password2" class="form-control mb-3"
                        placeholder="{% trans 'Confirm Password' %}" required>
                </div>
                {% if form.password2.errors %}
                <div class="alert alert-danger mt-1 p-1">
                    <ul class="list-unstyled m-0">
                        {% for error in form.password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                {% comment %} Display non-field (form-wide) errors {% endcomment %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger mt-3">
                    <ul class="list-unstyled m-0">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="form-actions text-center">
                    <button class="btn btn-lg btn-primary btn-block mt-4 -bs-purple" type="submit"
                        style="width: 80%">{% trans "Confirm" %}</button>
                </div>
            </form>
            <div class="social-signup mt-4">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>

            <div class="mb-3">
                <p class="text-center">
                    {% blocktrans %}Have an account? <a href="{{ login_url }}">Sign in</a>.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}