{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'acts_of_kindness/css/acts_of_kindness.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<h2>{{ act.name }}</h2>
<p>{{ act.description }}</p>

{% if act.image %}
<img src="{{ act.image.url }}" alt="{{ act.name }}">
{% endif %}

<div>
    <form action="{% url 'complete_and_share_act' act.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Mark as Completed</button>
    </form>
</div>




{% if request.user.is_superuser %}
<a href="{% url 'add_act' %}">Add another Act of Kindness</a>
<a href="{% url 'edit_act' act.id %}">Edit the Act of Kindness</a>
<a class="text-danger" href="{% url 'delete_act' act.id %}">Delete the Act of Kindness</a>
{% endif %}

{% endblock %}