{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet"
    href="{% static 'acts_of_kindness/css/acts_of_kindness.css' %}">
{% endblock %}



{% block content %}
{% comment %}
{% if request.user.is_superuser %}
{% endif %}
{% endcomment %}
<h1>Acts of Kindness</h1>
{% if acts %}
    <ul>
    {% for act in acts %}
        <li>
            <h2><a href="{% url 'act_detail' act.id %}">{{ act.name }}</a></h2>
            <p>{{ act.description|truncatewords:20 }}</p>
            {% if act.image %}
            <img src="{{ act.image.url }}" alt="{{ act.name }}" style="max-width: 100px; max-height: 100px;">
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No acts of kindness found.</p>

{% endif %}


<a href="{% url 'add_act' %}">Add Act of Kindness</a>


{% endblock %}