{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'acts_of_kindness/css/acts_of_kindness.css' %}">
{% endblock %}



{% block content %}
{% comment %}
{% if request.user.is_superuser %}
{% endif %}
{% endcomment %}
<section class="py-5" id="acts-list-section">
    <div class="container">
        <div class="d-flex justify-content-start align-items-center">
            <h1>Acts of Kindness</h1>
            <a href="{% url 'add_act' %}" class="btn btn-primary d-block ms-2">Add Act of Kindness</a>
        </div>
        {% if acts %}
        <div class="d-flex flex-wrap mt-4 gap-3 justify-content-around cards-container">
            {% for act in acts %}
            <div class="card">
                <div class="card-header p-0">
                    {% if act.image %}
                    <img src="{{ act.image.url }}" alt="{{ act.name }} image" class="card-img-top">
                    {% endif %}
                </div>
                <div class="card-body">
                    <p>{{ act.description }}</p>
                </div>
                <a href="{% url 'act_detail' act.id %}" class="btn btn-primary w-100 rounded-0 ">View act</a>
            </div>
            {% endfor %}
            {% else %}
            <p>No acts of kindness found.</p>
            {% endif %}
        </div>

</section>
{% endblock %}