{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section class="py-5" id="edit-post-section">
  <div class="container">
    <h2>Edit post</h2>
    <form method="POST" postion="{% url 'edit_post' pk=post.pk %}" class="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      {% if field.name != 'image' %}
      {{ field | as_crispy_field }}
      {% else %}
      {% if post.image %}
      <img src="{{ post.image.url }}" alt="Post image" class="post-image mb-3">
      {% endif %}
      <div class="mb-3">
        <label class="form-label text-secondary" for="{{ form.image.id_for_label }}">Update post image:</label>
        <input type="file" class="form-control mt-3" name="{{ form.image.html_name }}" id="{{ form.image.auto_id }}">

        {% if form.image.errors %}
        <div class="text-danger mt-2">
          {{ form.image.errors }}
        </div>
        {% endif %}

        {% if form.image.value %}
        <div class="d-flex my-3">
          <input type="checkbox" class="form-check-input me-2" name="{{ form.image.html_name }}-clear"
            id="id_{{ form.image.html_name }}-clear" style="height: 1.25rem; width: 1.25rem;">
          <label class="form-check-label text-secondary fs-6 fw-medium" for="id_{{ form.image.html_name }}-clear">Clear
            image</label>
        </div>
        {% endif %}

      </div>
      {% endif %}
      {% endfor %}
      <div class="text-right">
        <a class="btn" href="{% url 'index' %}">Cancel</a>
        <button class="btn" type="submit">Edit post</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}