{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'post/css/post.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<section class="py-5" id="post-list-section">
  <div class="container">
    <h1>User-submitted posts</h1>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <h2><a href="{% url 'post_detail' post.id %}">{{ post.aok.name }}</a></h2>
        <p>{{ post.content|truncatewords:20 }}</p>
        <p>Author: {{post.user_profile.user}}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.name }}" style="max-width: 100px; max-height: 100px;">
        {% endif %}
        <form action="{% url 'like_post' post.id %}" method="post">
          {% csrf_token %}
          {% if user.is_authenticated %}
          <a href="{% url 'like_post' post.id %}" class="like-button">
            <i class="fa fa-heart"></i> Like
          </a>
          <span>{{ post.like_count }} Likes</span>
          {% else %}
            <p>Please log in to like posts.</p>
          {% endif %}
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet!</p>
    {% endif %}
  </div>
  <!-- Pagination -->
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}

{% endblock extra_js %}