{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/masonry.css' %}">
{% endblock %}

{% block content %}
<section class="py-5" id="post-list-section">
  <div class="container my-4">
    <h1>User-submitted posts</h1>
    {% if posts %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" data-masonry='{"percentPosition": true}'>
      {% for post in posts %}
      <div class="col">
        <div class="card">
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-text"><small class="text-muted">By <span class="card-author">{{ post.user_profile.user.username }}</span> on {{ post.created_at }}</small></p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">

            <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read more</a>
            <p class="m-0"><span class="btn-primary custom-act-of-kindness"><i class="fas fa-star" style="color: green;"></i> {{ post.act_of_kindness }} </span></p>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if page_obj.has_previous or page_obj.has_next %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">First</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}
        <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
  {% endif %}
</section>
{% endblock %}
{% block extra_js %}
 <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
  <script>
    // Initialize Masonry layout
    var grid = document.querySelector('.row');
    var msnry = new Masonry(grid, {
      itemSelector: '.col',
      percentPosition: true
    });
  </script>
{% endblock %}
