<div class="rainbows">
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>
  <div class="rainbow"></div>

  <div class="h"></div>
  <div class="v"></div>
</div>

<style>
  @media screen and (min-width: 749px) {

    /* Root colors and animation time variables */
    :root {
      --red: rgba(255, 0, 0, 0.65);
      --orange: rgba(255, 165, 0, 0.65);
      --yellow: rgba(255, 255, 0, 0.65);
      --green: rgba(0, 128, 0, 0.65);
      --blue: rgba(0, 0, 255, 0.65);
      --indigo: rgba(75, 0, 130, 0.65);
      --violet: rgba(238, 130, 238, 0.65);
      --animation-time: 2s;
      --length: 25;
    }

    .rainbow {
      height: 150vh;
      width: 0;
      top: 0;
      position: absolute;
      transform: rotate(-140deg);
      transform-origin: top right;
    }


    .rainbow:nth-child(2) {
      box-shadow: -130px 0 80px 60px var(--red), -50px 0 50px 35px var(--orange),
        0 0 50px 35px var(--yellow), 50px 0 50px 35px var(--green),
        130px 0 80px 60px var(--blue);
      animation: calc(var(--animation-time) - (var(--animation-time) / var(--length) / 2)) linear forwards slide;
      animation-delay: calc(-1 / var(--length) * var(--animation-time));
    }

    .rainbow {
      animation: slide var(--animation-time) linear forwards, fadeOut var(--animation-time) linear forwards;
      animation-delay: calc((-1 / var(--length) * var(--animation-time)) + 2s);
    }

    @keyframes slide {
      0% {
        top: 0;
        right: 0;
      }

      100% {
        top: calc(100vh - 10px);
        right: calc(50vw - 10px);
      }
    }

    .h,
    .v {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .h {
      box-shadow: 0 0 50vh 40vh white;
      width: 100vw;
      height: 0;
    }

    .v {
      box-shadow: 0 0 35vw 25vw white;
      width: 0;
      height: 100vh;
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    .h,
    .v {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .h {
      box-shadow: 0 0 50vh 40vh white;
      width: 100vw;
      height: 0;
    }

    .v {
      box-shadow: 0 0 35vw 25vw white;
      width: 0;
      height: 100vh;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rainbows = document.querySelector('.rainbows');

    // When animation ends, fade out the rainbows and then remove from document
    rainbows.addEventListener('animationend', () => {
      rainbows.style.animation = 'fadeOut 2s linear forwards';
      setTimeout(() => {
        rainbows.remove();
      }, 2000);
    });
  });
</script>