#acts-list-section .card {
  width: 100%;
}

.img-act-detail {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  #acts-list-section .card {
    width: calc(50% - 16px);
  }
}

@media screen and (min-width: 992px) {
  #acts-list-section .card {
    width: calc(25% - 16px);
  }
}
