/* Masonry */
.masonry-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* to be ajusted items */
  }
  
  .masonry-item {
    width: calc(33.33% - 16px);
    flex-grow: 1;
  }
 
  /* Responsive layout adjustments */
  @media (max-width: 992px) {
    .masonry-item {
      width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 576px) {
    .masonry-item {
      width: calc(100% - 16px);
    }
  }
  