{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="{% static 'happiness_app/css/style.css' %}">
{% endblock extra_css %}

{% block core_js %}
{{ block.super }}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock core_js %}

{% block content %}
<section class="pt-5" id="acts-of-kindness-slider">
  <div class="jumbotron jumbotron-fluid">
    <div class="container py-5 bg-primary text-white rounded">
      <h1 class="display-4 hero-text text-light">Make Today Kindness-Filled!</h1>
      <p class="lead">Every Gesture Counts: Let's Fill Today with Acts of Kindness</p>
    </div>
  </div>
</section>
<section class="pb-5" id="acts-of-kindness-cards">
  <div class="container py-5 overflow-hidden">
    <h3 class="text-left">Choose a Random Act of Kindness!</h3>
    <div class="swiper-container mt-5">
      <div class="swiper-wrapper">
        {% for act in random_acts %}
        <div class="swiper-slide">
          <div class="card mb-3 ms-2" style="min-height: 520px;">
            {% if act.image %}
            <img src="{{ act.image.url }}" class="card-img-top" alt="{{ act.name }}">
            {% else %}
            <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top" alt="Default Image">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ act.name }}</h5>
              <p class="card-text">{{ act.description|truncatewords:12 }}</p>
            </div>
            <div class="d-grid gap-2 px-3 pb-3">
              <a href={% url 'act_detail' act.id %} <button class="btn btn-primary" type="button">View</button></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 1,
      slidesPerGroup: 4,
      loop: true,
      loopFillGroupWithBlank: false,

      // Swiper Pagination for navigation dots
      pagination: {
        el: '.swiper-pagination',
        clickable: true, // Make pagination dots clickable
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // Responsive breakpoints
      breakpoints: {
        320: {
          slidesPerView: 1,
          slidesPerGroup: 1,
        },
        768: {
          slidesPerView: 2,
          slidesPerGroup: 2,
        },
        1024: {
          slidesPerView: 4,
          slidesPerGroup: 4,
        }
      }
    });
  });
</script>
{% endblock %}