{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'happiness_app/css/style.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="py-5" id="our-team-section">
  <div class="container">
    <h1>Our team</h1>
    <div class="card" style="width: 18rem;">
      <img src="https://ca.slack-edge.com/T0L30B202-U050ACTDD41-cbad96001cef-512" class="card-img-top" alt="profil_image">
      <div class="card-body">
        <h5 class="card-title">Stephen Dawson</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://github.com/stephendawsondev" class="btn btn-primary">GitHub</a>
        <a href="https://www.linkedin.com/in/sdstephendawson/" class="btn btn-primary">Linkedin</a>
      </div>
    </div
  </div>
</section>
{% endblock %}