{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'happiness_app/css/style.css' %}">
<link rel="stylesheet" href="{% static 'happiness_app/css/teampage_about.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="py-5" id="our-team-section">
  <div class="container">
    <h1>Our team</h1>
    <div class="d-flex flex-wrap gap-3">

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U050ACTDD41-cbad96001cef-512" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Stephen Dawson</h5>
          <p class="card-text">Introducing Stephen, whose current culinary obsession is Pad Thai, tantalizing his taste buds with its savory flavors. His recent adventure in Thailand, spanning three weeks in December, allowed him to immerse himself in the vibrant culture and cuisine of the Land of Smiles. When it comes to programming, Stephen's heart lies with JavaScript, where he crafts digital wonders with finesse. Yet, beyond the screen, his true happiness blooms when surrounded by friends, relishing in their company and enjoying any activity, no matter how simple or grand.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/stephendawsondev" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="https://www.linkedin.com/in/sdstephendawson/" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://avatars.githubusercontent.com/u/115192139?v=4" class="card-img-top" alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Hilla Muraja</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/HMuraja" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="https://avatars.githubusercontent.com/u/115192139?v=4" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U04LMHHNQAD-1cb37693c1ce-512" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Felipe Zanetti</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U06MMEN9XFT-g0cb001ab8f5-512" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Soundarya Kantimahanti</h5>
          <p class="card-text">Meet Soundarya, whose palate revels in the rich flavors of Indian-style Chicken Dum Biryani, a dish deeply rooted in her cultural heritage. Recently, she embarked on a heartwarming journey back to her homeland, India, where cherished moments with loved ones filled her soul with joy. In the world of programming, Soundarya's passion lies in JavaScript, where she crafts digital marvels with ingenuity. Yet, her greatest happiness springs from quality time spent with family, indulging in shared activities like art, games, and cooking beloved dishes together. For Soundarya, these moments of togetherness are priceless treasures, filling her life with warmth and love.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/klsoundarya" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="https://www.linkedin.com/in/soundarya-kantimahanti/" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U02V9H1BSE6-a4ef763f5389-512" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Claudio Cruz</h5>
          <p class="card-text">Meet Claudio, a lover of Portuguese bacalhau and avid traveler who recently explored Croatia. He finds joy in coding with JavaScript, especially in React. But above all, his happiness comes from seeing his loved ones smile.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/claudio-cruz" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="linkedin.com/in/claudio-emanuel-cruz" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://ca.slack-edge.com/T0L30B202-U05RK9VUZU6-78065cb8e885-512" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Ann Edvinsson</h5>
          <p class="card-text">Meet Ann, whose culinary delight is found in the exquisite flavors of Spaghetti alle Vongole, transporting her taste buds to the shores of Italy with each savory bite. Her last holiday was a thrilling escapade kayaking in the St. Anna Archipelago, where she skillfully convinced water creatures of her semi-professional paddle-wielding prowess. When it comes to coding, Ann's heart sings with Python, where she orchestrates digital symphonies with elegance and precision. However, her true joy stems from participating in hackathons, where she thrives on the excitement of innovation, and from spending time with friends who appreciate her knack for turning everyday situations into potential app ideas, transforming the ordinary into the extraordinary.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/aslinedvinsson" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="https://www.linkedin.com/in/ann-edvinsson/" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://media.licdn.com/dms/image/C4D03AQFRKS9jWX_yBA/profile-displayphoto-shrink_200_200/0/1613208893046?e=1717027200&v=beta&t=TUXOYE6-qpTEQpE-N48Vp1AqEdBLJ1Y-FQwQ1dvSk9w" class="card-img-top"
          alt="profil_image">
        <div class="card-body">
          <h5 class="card-title">Florian Guldner</h5>
          <p class="card-text">Meet Florian, a lover of dumplings whose recent holiday in Austria was spent carving through snow-covered slopes on a snowboard. His favorite language is CSS, where he weaves digital magic with style. But what truly brings him joy is being active and engaging with his loved ones, cherishing every moment of interaction and shared experiences.</p>
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <a href="https://github.com/Fl0W97" class="btn btn-primary">GitHub</a>
              </div>
              <div class="col">
                <a href="www.linkedin.com/in/florian-guldner-4a684897" class="btn btn-primary">Linkedin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="to_the_top">
      <a href="#container">to the top</a>
    </div> 

  </div>
</section>
{% endblock %}